# Grabing the Table from html to DataFrame object, parsing and wrangling

## 1. Installation and Import of libraries

In [198]:
import random # library for random number generation
import requests # library to handle requests
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [199]:
!conda install -c conda-forge beautifulsoup4 --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.6.3       |           py35_0         139 KB  conda-forge
    certifi-2018.8.24          |        py35_1001         139 KB  conda-forge
    ca-certificates-2019.3.9   |       hecc5488_0         146 KB  conda-forge
    openssl-1.0.2r             |       h14c3975_0         3.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.6 MB

The following packages will be UPDATED:

    beautifulsoup4:  4.6.0-py35h442a8c9_1 --> 4.6.3-py35_0        conda-forge
    ca-certificates: 2019.1.23-0          --> 2019.3.9-hecc5488_0 conda-forge
    certifi:         2018.8.24-py35_1     --> 2018.8.24-py35_1001 conda-forge
    openssl:         1.0.2r-h7b6447c_0    --> 1.0.2r-h14c3975_0   conda-forge


Downloading and Extracting Packages
beautifulsoup4-4.6.3 | 139 KB    | ##################################### | 100%
certifi-2018.8.24    | 139 KB    | ##################################### | 100%
ca-certificates-2019 | 146 KB    | ##################################### | 100%
openssl-1.0.2r       | 3.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [200]:
from bs4 import BeautifulSoup #library for work with html
print('Soup is ready, ser!')

Soup is ready, ser!

In [201]:
!conda install -c conda-forge lxml --yes #library for parsing html

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxslt-1.1.32             |    h4785a14_1002         539 KB  conda-forge
    libxml2-2.9.9              |       h13577e0_0         2.0 MB  conda-forge
    lxml-4.2.5                 |   py35hc9114bc_0         5.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.3 MB

The following packages will be UPDATED:

    libxml2: 2.9.4-h6b072ca_5     --> 2.9.9-h13577e0_0     conda-forge
    libxslt: 1.1.29-hcf9102b_5    --> 1.1.32-h4785a14_1002 conda-forge
    lxml:    4.1.0-py35ha401a81_0 --> 4.2.5-py35hc9114bc_0 conda-forge


Downloading and Extracting Packages
libxslt-1.1.32       | 539 KB    | ##################################### | 100%
libxml2-2.9.9        | 2.0 MB    | ##################################### | 100%
lxml-4.2.5           | 5.8 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## 2. Grabbing the Table and parsing it to the DataFrame object "data"

In [202]:
#Get html to "soup"
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
#source = requests.get('https://coreyms.com').text
soup = BeautifulSoup(source, 'lxml')

In [203]:
#Get table of postcodes to "table"
table = soup.find('table')

In [204]:
#Get headers by teg 'th'
headers = [col.text for col in table.find('tr').find_all('th')]

#Get rows by teg 'tr'
rows = table.find_all('tr')

#Get values by teg 'td' inside rows
values = [[cell.text for cell in row.find_all('td')] for row in rows]
data = pd.DataFrame(columns = headers, data = values)
data.head()

  Postcode       Borough     Neighbourhood\n
0     None          None                None
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

## 3. Data wrangling

In [205]:
# Drop the first "None" line
data.drop(index = 0, inplace = True)
data.reset_index(inplace = True, drop = True)
data.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [206]:
#Replace \n
data.columns = data.columns.str.replace('\n','')
data['Neighbourhood'] = data['Neighbourhood'].str.replace('\n','')
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [207]:
#Drop rows with 'Not assigned' Borough
data = data.loc[data['Borough'] != 'Not assigned']
data.reset_index(inplace = True, drop = True)
data.head(15)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Not assigned
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens
12      M4B         East York     Parkview Hill
13      M5B  Downtown Toronto           Ryerson
14      M5B  Downtown Toronto   Garden District

In [208]:
#Rename 'Not assigned' Neighbourhood with name of Borough
data.loc[data['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = data.loc[data['Neighbourhood'] == 'Not assigned', 'Borough']
data.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [209]:
data.sort_values(by=['Postcode'], inplace=True)
data.reset_index(inplace = True, drop = True)
data.head(10)

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough      Port Union
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough  Highland Creek
5      M1E  Scarborough       Guildwood
6      M1E  Scarborough     Morningside
7      M1E  Scarborough       West Hill
8      M1G  Scarborough          Woburn
9      M1H  Scarborough       Cedarbrae

In [210]:
#Concatinating rows with the same Postcode
ind = 1
while ind < len(data):
    if (data.loc[ind, 'Postcode']==data.loc[ind-1, 'Postcode']):
        data.loc[ind-1, 'Neighbourhood'] = data.loc[ind-1, 'Neighbourhood']+', '+ data.loc[ind, 'Neighbourhood']
        data.drop(ind, inplace = True)
        data.reset_index(inplace = True, drop = True)
    else:
        ind += 1
data.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Port Union, Rouge Hill, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [211]:
data.shape

(103, 3)